<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
  <!-- <meta
      http-equiv="Content-Security-Policy"
      content="default-src 'self'; script-src 'self' 'unsafe-eval' 'unsafe-inline'"
    /> -->
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="../../styles/main.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

  <!-- Insert this line above script imports  -->
  <script>
    if (typeof module === 'object') {
      window.module = module
      module = undefined
    }
  </script>

  <!-- normal script imports etc  -->
  <script src="../../viewscripts/lib/jquery.3.6.0.js"></script>

  <!-- Insert this line after script imports -->
  <script>
    if (window.module) module = window.module
  </script>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-fixed-top">
    <div class="container-fluid">
      
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <a class="navbar-brand" href="#">FREEDOCS</a>
      </div>
      <div class="d-flex">
        <button class="btn btn-primary me-sm-2" id="tgl" onclick="menu()"> <<< </button>
      </div>

      <!-- save button -->
      <div class="d-flex">
        <button class="btn btn-primary me-sm-2" id="save" onclick="save()"> Save </button>
    </div>
    
  </nav>

  <div class="section" id="home">
    <div class="content">
      <div id="editorjs"></div>
    </div>

    <!-- sidebar -->
    <nav class="sidebar">
      <div id="change">
        <button id="callApi" onclick="doSomething();">I am bored. What should I do?</button>
      </div>
      <div id="whattodo">
      </div>

      <!-- send description -->
      <div>
        <input type="text" id="description" placeholder="Enter description">
        <button id="send" onclick="sendDescription();">Send</button>
        <div>
          <!-- rendering image from external server-->
          <img id="image" src="https://source.unsplash.com/random/300x300" alt="descripted image"> 
        </div>
      </div>
    </nav>
  </div>




  <script src="https://cdn.jsdelivr.net/npm/@editorjs/header@latest"></script><!-- Header -->
  <script src="https://cdn.jsdelivr.net/npm/@editorjs/simple-image@latest"></script><!-- Image -->
  <script src="https://cdn.jsdelivr.net/npm/@editorjs/delimiter@latest"></script><!-- Delimiter -->
  <script src="https://cdn.jsdelivr.net/npm/@editorjs/list@latest"></script><!-- List -->
  <script src="https://cdn.jsdelivr.net/npm/@editorjs/checklist@latest"></script><!-- Checklist -->
  <script src="https://cdn.jsdelivr.net/npm/@editorjs/quote@latest"></script><!-- Quote -->
  <script src="https://cdn.jsdelivr.net/npm/@editorjs/code@latest"></script><!-- Code -->
  <script src="https://cdn.jsdelivr.net/npm/@editorjs/embed@latest"></script><!-- Embed -->
  <script src="https://cdn.jsdelivr.net/npm/@editorjs/table@latest"></script><!-- Table -->
  <script src="https://cdn.jsdelivr.net/npm/@editorjs/link@latest"></script><!-- Link -->
  <script src="https://cdn.jsdelivr.net/npm/@editorjs/warning@latest"></script><!-- Warning -->

  <script src="https://cdn.jsdelivr.net/npm/@editorjs/marker@latest"></script><!-- Marker -->
  <script src="https://cdn.jsdelivr.net/npm/@editorjs/inline-code@latest"></script><!-- Inline Code -->

  <!-- You can also require other files to run in this process -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@editorjs/editorjs@latest"></script>
  <script src="../../assets/editor.js"></script>
  <script defer src="../../viewscripts/home/index.js"></script>
  <script src="../../assets/sidebar.js"></script>

  <!-- send description to external api -->
  <script>
    function sendDescription() {
      var description = document.getElementById("description").value;
      var xhr = new XMLHttpRequest();
      xhr.open("POST", "http://1d81-35-231-123-15.ngrok.io/getItem", true); // please change the port number if you are using a different port
      xhr.setRequestHeader('Content-Type', 'application/json');
      xhr.send(JSON.stringify({ description: description }));
    }
  </script>

  <!-- get image from external server -->
  <script>
    function getImage() {
      var xhr = new XMLHttpRequest();
      xhr.open("GET", "http://1d81-35-231-123-15.ngrok.io/getItem", true); // please change the port number if you are using a different port
      xhr.setRequestHeader('Content-Type', 'application/json');
      xhr.send();
      xhr.onload = function () {
        var data = JSON.parse(this.response);
        document.getElementById("whattodo").innerHTML = data.description;
        document.getElementById("image").src = data.image;
      }
    }
  </script>
 </body>
</html>